<h1>Editar Categoria</h1>

<% if @category.errors.any?%>
  <div class="alert">
    <p>Não foi possível alterar a categoria</p>
    <p>Confira os erros abaixo:</p>
    <ul>
      <% @category.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @category do |category| %>
  <%= category.label :name %>
  <%= category.text_field :name %>

  <%= category.label :code %>
  <%= category.text_field :code %>

  <%= category.submit 'Salvar' %>
<% end %>