<h1>Editar Promoção <%= @promotion.name %></h1>

<% if @promotion.errors.any? %>
  <div class="alert">
    <p>Não foi possível alterar a promoção</p>
    <p>Confira os erros abaixo:</p>
    <ul>
      <% @promotion.errors.full_messages.each do |error|%>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end%>

<%= form_with(model: @promotion) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div>
    <%= f.label :discount_rate %>
    <%= f.text_field :discount_rate %>
  </div>

  <div>
    <%= f.label :coupon_quantity %>
    <%= f.text_field :coupon_quantity %>
  </div>

  <div>
    <%= f.label :expiration_date %>
    <%= f.text_field :expiration_date %>
  </div>

  <div>
    <%= f.collection_check_boxes :category_ids, @categories, :id, :name %>
  </div>

  <%= f.submit 'Salvar' %>
<% end %>