<h1>Detalhes da promoção</h1>

<%= flash[:notice] %>
<%= link_to 'Voltar', promotions_path %>
<%= link_to 'Editar', edit_promotion_path %>
<%= link_to 'Deletar', promotion_path(@promotion), method: :delete %>

<%= @promotion.name %>
<span>Cadastrada por: <%= @promotion.user.email %></span>
<dl>
  <dt>Descrição</dt>
  <dd><%= @promotion.description %></dd>
  
  <dt>Porcentagem de desconto</dt>
  <dd><%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %></dd>

  <dt>Código da Promoção</dt>
  <dd><%= @promotion.code %></dd>

  <dt>Data de validade</dt>
  <dd><%= @promotion.expiration_date.strftime("%d/%m/%Y") %></dd>

  <dt>Quantidade de cupons</dt>
  <dd><%= @promotion.coupon_quantity %></dd>

  <% if @promotion.approved? %>
    <p>Status: <span>Aprovada</span> </p>
  <% end%>
</dl>

<%# unless é a mesma coisa que if not %>
<% unless current_user == @promotion.user %>
  <%= link_to 'Aprovar Promoção', approve_promotion_path, method: :post %>
<% end %>

<%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>

<% @promotion.coupons.each do |coupon| %>
  <div id="coupon-<%= coupon.id %>">
    <%= coupon.code %> - <%= t(".#{coupon.status}") %> 
    <% if coupon.active? %>
      <%= link_to 'Desabilitar', disable_coupon_path(coupon), method: :post %>
    <% end %>
  </div>

<% end %>